
#listView {
    -fx-control-inner-background: #004466;
    -fx-text-fill: white;
}


.toolsButtons {
    -fx-background-color: transparent;
    -fx-pref-width: 45px;
    -fx-pref-height: 45px;
    -fx-background-size: 25px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
    -fx-background-radius: 50% 50%;
    -fx-border-width: 0;
}

.toolsButtons:hover {
    -fx-background-color: #0099cc;
    -fx-cursor: hand;
}

#sortButton {
    -fx-background-image: url('../icons/026-sort.png');
}

#filterToggleButton {
    -fx-background-image: url('../icons/calendar-5.png');
    -fx-background-size: 30px;
}

#filterToggleButton:selected {
    -fx-background-color: #0099cc;
}


